.text {
    overflow: visible;
    margin-top: -10px;
    margin-left: 10px;
/*     background-color: rgb(255, 86, 86);
    display: inline; */
}

.box {
    margin-top: 15px; 
}

.form_field {
    margin: 10px;
}


